@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Work Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* common css style start  */
.container {
  width: 75%;
  margin: 0 auto;
}
.primary-btn {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background: #ff900e;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}
/* common css style end */

/* header css style start  */
.menuBar img {
  width: 10%;
}
.header {
  background: rgba(255, 144, 14, 0.1);
}
.headerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0rem;
}

.logo h1 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.menu ul li a {
  color: #424242;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 144.444% */
  text-decoration: none;
}
/* header css style end */
/* banner style start  */
.banner {
  background: #fff4e6;
}
.bannerTitle h1 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.bannerSubTitle p {
  color: #727272;
  font-weight: 400;
  line-height: 1.6rem; /* 162.5% */
}

.bannerWrap {
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerTitle,
.bannerSubTitle,
.bannerBtn {
  text-align: center;
  margin: 1.5rem 0rem;
  width: 58rem;
}
.bannerImg {
  margin-top: 3rem;
  width: 100%;
}

.bannerImg img {
  width: 100%;
}
/* banner style end */

/* features css style start  */
.featureText {
  width: 33.5rem;
}
.featuresWrap {
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.5rem;
}

.featuresImgWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.4rem;
}
.featuresImgWrap img {
  width: 100%;
}
.featureText h1 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
}

.featureText p {
  color: #727272;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 2rem 0rem 3rem;
}
/* features css style end */

/* features explore css style start  */
.featuresExploreWrap {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding: 3rem 0rem;
}

.featuresExploreTitle h1 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
  padding-left: 1rem;
}

.featuresExploreSubtitle p {
  color: #727272;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.featuresExploreTitle {
  width: 29.25rem;
  position: relative;
}

.featuresExploreSubtitle {
  margin: 2rem 0rem;
}
.featuresExploreImgWrap {
  width: 44.375rem;
}
.stickyDiv {
  position: relative;
}
.featuresExploreImgWrap img {
  width: 100%;
}
.featuresExploreText {
  width: 36.625rem;
}
.singleExplore {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  margin-bottom: 1.3rem;
}

.singleExplore h4 {
  color: #131313;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.9rem;
}

.singleExplore p {
  color: #727272;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.tag {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: -40px;
}

.tag span {
  font-size: 4rem;
}
.featuresExploreTitle:before {
  content: '';
  position: absolute;
  background: #ff900e;
  width: 5px;
  height: 100%;
  left: 0px;
}
/* features explore css style end */
